# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**
- List popular languages for Data Science
- Identify commonly used Data Science libraries
- Explore different development environment tools used in Data Science
- Perform basic arithmetic operations

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. NumPy
3. Matplotlib
4. Scikitlearn

| Data Science Tools |
|--------------------|
| Jupyter Notebook   |
| RStudio            |
| Apache Zeppelin    |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [14]:
# This a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

In [15]:
# This will convert 200 minutes to hours by diving by 60.
c = 200/60
print('200 minutes is equal to', c, 'hours')

200 minutes is equal to 3.3333333333333335 hours

## Author
Nikhil